// variables
$primaryColor:#34d399;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

// @layer components {
  
// }
.input_primary {
  @apply rounded-lg border-transparent flex-1 border border-gray-300 w-full py-2 px-4 bg-white text-gray-500 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent;
}

.button_primary {
  @apply text-right my-auto ml-auto flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-500 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200;
}

.table_head {
  @apply px-5 py-3 bg-white border-b border-t border-gray-200 text-gray-800 text-left text-sm uppercase font-bold;
}
.input_secondary {
  display: block;
  cursor: pointer;
  width: 10em;
  font-size: 2ch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1ch 1.5ch;
  color: rgb(77, 75, 75);
  border: 0.3px solid rgba(77, 75, 75, 0.192);
  border-radius: 5px;
  outline: none;
  margin: 1rem auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.tabs {
  position: relative;
  &-header {
    background-color: white;
    color: #334155;

    &-btn {
      padding: 1em;
      margin: 0 auto;
      z-index: 2;
      cursor: pointer;
      text-align: center;
      transition: all 300ms ease-in-out;
      border: 1px solid transparent;
      position: relative;

      height: auto;

      &.active {
        // box-shadow: 0 -1px 0 $primaryColor;
        border-bottom: 1px solid $primaryColor;
        border-radius: 15px;
        border-radius: 0.2em 0.2em 0 0;
        color: $primaryColor;
        transition:none;
       
      }
     
    }
  }

  &-body {
    position: relative;
    background: transparent;
    color: #0e0d0d;
    width: calc(100vw - 4rem);
    height: 100vh;
    &-item {
      width: 100%;
      position: absolute;
      transform: translateY(-10px);
      visibility: hidden;
      padding: 1em;
      transition: opacity 300ms ease-out, transform 300ms ease-out;
      .doughnut{
        width: 25rem; 

      }
      &.active {
        transform: translateY(0px);
        visibility: visible;
      }
    }
  }
}
